/* gemerics */

body {
    color: #fff;
}

header {
    background-color: #2C3E50;
    height: 80px;
}

footer {
    background-color: #2C3E50;
    height: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
}

/* id */

#start {
    background-color: #1ABC9C;
    min-height: 100px;
    padding: 20px 0;
}

#profile {
    min-height: 100px;
    padding: 20px 0;
}

#about {
    background-color: #1ABC9C;
    min-height: 100px;
    padding: 20px 0;
}

#contact {
    min-height: 100px;
    padding: 20px 0;
}

#location {
    background-color: #3A546D;
    min-height: 60px;
    padding: 20px 0;
}

/* class */

.custom-img-w {
    max-width: 100%;
}

.custom-figure-w {
    width: 370px;
    margin: 0 auto;
}

.custom-figure-w-2 {
    width: 320px;
    margin: 0 auto;
    margin: 0 auto;
}

input {
    width: 100%;
}

textarea {
    height: 150px;
}

.btn-custom-color {
    background-color: #1ABC9C;
}

.text-custom-color {
    color: #1ABC9C;
}